extends base.pug
block append head
	- var pageTitle = "Контакты"

block content

	.page
		.container
			.row
				.col-12
					.breadcrumbs
						ul
							li
								a(href="/") Главная
							li 
								span Контакты
								
					p.page__title Контакты
					script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
					.contacts-block
						.row
							.col-12.col-lg-4
								.contacts-block__info(itemscope="" itemtype="http://schema.org/LocalBusiness")
									b.contacts-block__title(itemprop="name") safasfasfa
									
									.requisite-block
										b.requisite-block__title Адрес
										span.requisite-block__value(itemprop="address") asafasfasfasfasfasfas
										
									.requisite-block
										b.requisite-block__title Телефоны
										a.requisite-block__value(href="tel:123213123123" itemprop="telephone") 123213123123

									.requisite-block
										b.requisite-block__title Режим работы
										span.requisite-block__value(itemprop="openingHours") asafasfasfasfasfasfas
									
							.col-12.col-lg-8
								.contacts-block__map-container#map-1
									div(data-lat="12.123123" data-lng="12.123123" data-message="1231231231" data-popup="3242342342342")










