{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs" itemprop="http://schema.org/breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <ul>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" title="Главная" itemprop="url"><span itemprop="name">Главная</span></a>
                        <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <span itemprop="name">Клиентам</span>
                        <meta itemprop="position" content="2">
                        </li>
                    </ul>
                </div>							
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}