{% load static %}
<div class="notify">
    <div class="notify-body">
        <svg class="notify-icon" role="img">
            <use xlink:href="{% static 'images/sprite.svg' %}#cart-icon"></use>
        </svg>
        <div class="notify-text">
            <p class="notify-title">Список пуст</p>
            <p class="notify-desc">Похоже, вы еще не добавили избранные товары. Вернитесь в каталог, чтобы это исправить.</p>
        </div>
    </div>
    <div class="notify-button simple-button" href="{% url 'catalog:CategoryList' %}">Перейти в каталог</div>
</div>        